/* Overall container */
.hotel__details {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Hotel header styling */
.hotel__details-header {
  display: flex;
  margin-bottom: 40px;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
}

.hotel__details-image img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.hotel__details-info {
  max-width: 600px;
  flex: 1;
}

.hotel__details-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.hotel__detail-address {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 10px;
}

.hotel__details-description {
  font-size: 1rem;
  color: #777;
  margin-bottom: 20px;
}

.hotel__details-contact p {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.hotel__details-actions {
  margin-top: 20px;
}

.hotels__btn {
  width: 100%;
}

.hotels__btn:hover {
  background: var(--primary-color) !important;
}

/* Hotel Rooms Section */
.hotel__rooms-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.hotel__rooms-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.hotel__room-id {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 50px -10px;
}
.hotel__room-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
.hotel__room-info h5 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
}
.hotel-room__info p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 5px;
}
.hotel-room__info button {
  margin-top: 15px;
}
.hotel-rooms__no-rooms {
  font-size: 1.2rem;
  color: #888;
  text-align: center;
  margin-top: 40px;
}

.btn-disabled {
  background-color: #ddd;
  color: #aaa;
  cursor: not-allowed;
}

.hotel-details__actions button:disabled {
  background-color: #ccc;
}

.pagination span {
  width: 2rem;
  height: 2rem;
  padding: 5px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--secondary-color);
  color: var(--heading-color);
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 700;
}

.pagination span:hover {
    background: var(--primary-color);
}

.active__page {
    background: var(--secondary-color);
    color: #fff !important;
}
