.forgot-password {
  padding-top: 70px;
}

.forgot-password__box {
  box-shadow: rgba(17, 12, 46, 0.1) 0px 30px 60px 0px;
  padding: 30px;
  background: var(--secondary-color);
  border-radius: 8px;
  position: relative;
}

.forgot-password__box h2 {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.forgot-password__form {
  width: 100%;
}

.forgot-password__form input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  font-size: 0.9rem;
  color: var(--heading-color);
  margin-bottom: 1.5rem;
}

.forgot-password__form input:focus {
  outline: none;
}

.auth__btn {
  background: var(--heading-color) !important;
  color: #fff !important;
}

.back-to-login-btn {
  position: absolute;
  top: 15px;
  left: 15px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 22px; /* Kích thước mũi tên */
  color: #fff;
  display: flex;
  align-items: center;
  gap: 5px; /* Khoảng cách giữa mũi tên và chữ */
}

.back-to-login-btn span {
  font-size: 14px; /* Giảm kích thước dòng chữ */
  font-weight: 500;
  color: #fff;
}

.back-to-login-btn:hover {
  color: var(--heading-color);
}
.back-to-login-btn span:hover {
  color: var(--heading-color);
}

@media only screen and (max-width: 768px) {
  .forgot-password__box {
    padding: 25px;
  }

  .forgot-password__form input {
    padding: 0.5rem;
  }

  .back-to-login-btn {
    font-size: 20px;
  }

  .back-to-login-btn span {
    font-size: 14px;
  }
}

@media only screen and (max-width: 576px) {
  .forgot-password__box {
    padding: 20px;
  }

  .forgot-password__form input {
    padding: 0.5rem;
  }
}
